################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/x64/Debug
/x64/Debug
/.vs/Sirelphy/v16
/build/x64
